<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>在线小游戏</title>
</head>
<body>
<h1>{$aa}</h1>
    <!--{volist name="data" id="v" key="i"}
        <div class="nickname">{$v['nickname']}</div>
        <div class="headimgurl">
            <img src="{$v['headimgurl']}">
        </div>
        <div class="num">
            剩余次数: {$v['times']}
        </div>
    {/volist}-->
</body>
</html>