{template 'common/header'}
<link rel="stylesheet" href="{MODULE_URL}res/assets/layui/css/layui.css" />
<link rel="stylesheet" href="{MODULE_URL}res/comment/css/file.css" />
<style>
    #erweim{
        width: 131px;
        height: 132px;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 2px 2px #aaa;
        z-index: 9999;
        margin: 0 0;
        padding: 0 0;
        position: absolute;
    }
    #erweim .boxImg{
        position: relative;
        top :0;
        left:10px;
        width: 111px;
        height: 111px;
    }
</style>

<div class="chooseH" style="margin-bottom: 50px; width: 200px;">
    <form class="layui-form">
    {if $length == 1 }
        <input type="hidden" id="hid" value="{$hospitalList[0]['id']}">
        <select name="hospital" lay-filter="chooseHospital">
        <option value="{$hospitalList[0]['id']}">{$hospitalList[0]['title']}</option>
        </select>
    {else}
        <input type="hidden" id="hid" value="{$hid}">
        <select name="hospital" lay-filter="chooseHospital">
            <option value="">请选择一个医院</option>
            {loop $hospitalList $key $value}
                {if $value['id'] == $hid}
                <option value="{$value['id']}" selected="selected">{$value['title']}</option>
                {else}
                <option value="{$value['id']}" >{$value['title']}</option>
                {/if}
            {/loop}
        </select>
    {/if}
    </form>
</div>
<div class="content" style="display: none">
    <div class="article_select_box">
        <button class="layui-btn layui-btn-normal" id="btn-refresh">刷新</button>
        <div>
            <div class="demoTable">
                <div class="layui-inline">
                    <input type="text" name="title"   lay-verify="required" placeholder="请输入活动名" autocomplete="off" class="layui-input searchName" id="searchInput">
                </div>
            </div>
            <button class="layui-btn layui-btn-normal layui-btn-sm searchBtn article_select_button"  data-type="reload">搜索</button>
        </div>
        <a class="layui-btn layui-btn-normal layui-btn-sm searchBtn article_select_button" style="margin-left: 20px;" onclick="addActive()">添加活动</a>
        <a class="layui-btn layui-btn-normal layui-btn-sm searchBtn article_select_button"   href="https://weixin.prykweb.com/web/index.php?c=site&a=entry&do=ParticipantList&m=bjhd_check_in&op=ParticipantList&version_id=0&id={{d.id}}">参与者列表</a>
    </div>
    <div>
        <table id="demo" lay-filter="demo"></table>
    </div>
</div>

<!--二维码弹框-->
<!--<div style="display: none" id="erweim" data-status="1">
    <div class="boxTitle">请用微信扫一扫</div>
    <div class="boxImg"></div>
</div>-->

<script src="{MODULE_URL}res/assets/layui/layui.js"></script>
<script type="text/html" id="faceImg">
    <img src="{{d.avatarUrl}}" width='40px' height='40px'>
</script>

<script type="text/html" id="status">
    {{# if(d.status == 1 && d.is_show == 1){ }}
    <span style="color: red;">已结束</span>
    {{# } else if(d.status == 1  && d.is_show == 2) { }}
    <span style="color: red;">已结束</span> <span>(已隐藏)</span>
    {{# } else if(d.status == 2  && d.is_show == 1) { }}
    <span style="color: green;">进行中</span>
    {{# } else if(d.status == 2  && d.is_show == 2) { }}
    <span style="color: green;">进行中</span> <span>(已隐藏)</span>
    {{# } else if(d.status == 3  && d.is_show == 1) { }}
    <span style="color: deepskyblue;">未开始</span>
    {{# } else if(d.status == 3  && d.is_show == 2) { }}
    <span style="color: deepskyblue;">未开始</span> <span>(已隐藏)</span>
    {{# } }}
</script>

<script type="text/html" id="sortBox">
    <input id="changeSort{{d.id}}" type="text" value="{{d.sort}}" style="width: 100%; height:80%;text-align: center" onblur="changeSort({{d.id}}, 1)">
</script>

<!--操作列-->
<script type="text/html" id="oper-col">
    <a class="layui-btn layui-btn-primary layui-btn-xs" onclick="getCode({{d.id}}, '{{d.title}}')">二维码</a>
    <a class="layui-btn  layui-btn-xs"   href="https://weixin.prykweb.com/web/index.php?c=site&a=entry&do=EditActive&m=bjhd_check_in&op=EditActive&version_id=0&type=2&id={{d.id}}">编辑</a>
    <!--<a class="layui-btn layui-btn-danger layui-btn-xs"  target="_blank" href="https://weixin.prykweb.com/web/index.php?c=site&a=entry&do=activeResInfo&m=bjhd_check_in&op=activeResInfo&version_id=0&aid={{d.id}}">详情</a>-->
    <a class="layui-btn layui-btn-danger layui-btn-xs" onclick="delInfo(1, {{d.id}})" title="删除"><i class="layui-icon">&#xe640;</i></a>
</script>

<script type="text/javascript">
    $(function(){
        var a = $("#hid").val();
        if (a != null && a != "" && a != 0){
            $('.content').css('display', 'block');
            getActiveInfo(a)
        }
        layui.use('form', function(){
            var form = layui.form;
            form.on('select(chooseHospital)', function(data){
                // 根据选择的医院 显示对应医院活动列表
                var hid = data.value;
                if(hid != null && hid != ''){
                    $('.content').css('display', 'block');
                    if ($('#hid').val() == hid){
                        return false
                    }  else {
                        $('#hid').val(hid);
                        getActiveInfo(hid)
                    }
                } else {
                    return false
                }
            })
        })
    });
    function getActiveInfo(hid){
        layui.use('table', function(){
            var table = layui.table;
            var renderTable = function(){
                table.render({
                    elem: '#demo'
                    ,height: 400
                    ,url: "{url 'site/entry/GetActiveInfo' array('m'=>$_GPC['m'],'op'=>'GetActiveInfo','version_id'=>$_GPC['version_id'])}" //数据接口
                    ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                        layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']//自定义分页布局
                        ,limit: 8
                        ,limits:[8]
                        ,first: true //不显示首页
                        ,last: true //不显示尾页
                    }
                    ,where: {
                        hid: hid
                    }
                    ,autoSort: false
                    //,toolbar: true // 工具栏: 导出 打印等
                    ,cols: [[ //表头
                        {field: 'id', title: 'ID', width:'10%', sort: true,  align: 'center'},
                        {field: 'sort', title: '排序', width:'10%', sort: true,  align: 'center', templet:'#sortBox'},
                        {field: 'title', title: '活动名', width:'20%',  align: 'left'},
                        {field: 'create_time', title: '创建时间', width:'10%', align: 'center'},
                        {field: 'status', title: '状态', width:'10%', align: 'center', templet: '#status'},
                        {templet: '#oper-col', title: '操作', width: '40%', align: 'center'}
                    ]]
                });
            };
            renderTable();
            table.on('sort(demo)', function(obj){
                table.reload('demo', { //demo是表格容器id
                    initSort: obj
                    ,where: {
                        field: obj.field //排序字段
                        ,order: obj.type //排序方式
                    }
                });
            });
            // 绑定reload事件
            var $ = layui.$, active = {
                reload:function () {
                    var condition = $('#searchInput').val();
                    table.reload('demo',{
                        method:'post',
                        url:"{url 'site/entry/GetActiveInfo' array('m'=>$_GPC['m'],'op'=>'GetActiveInfo','version_id'=>$_GPC['version_id'])}",
                        where:{
                            search : condition
                        },
                        page:{
                            curr:1
                        }
                    });
                }
            };
            // 点击搜索
            $('.searchBtn').on('click', function(){
                var type = $(this).attr('data-type');
                active[type] ? active[type].call(this): '';
            });
            // 刷新表格
            $('#btn-refresh').click(function () {
                renderTable();
                $('#searchInput').val('');
            });
            // 活动详情
            table.on("tool(demo)", function(obj){
                var uid = obj.data.id;
                window.location.href = "{url 'site/entry/OneUserStatistics' array('m'=>$_GPC['m'],'op'=>'OneUserStatistics','version_id'=>$_GPC['version_id'])}&uid="+ uid;
            })
        });
    }
    function addActive(){
        var hid = $('#hid').val(),
            url = "https://weixin.prykweb.com/web/index.php?c=site&a=entry&do=EditActive&m=bjhd_check_in&op=EditActive&version_id=0&type=1&hid="+hid;
        window.open(url);
    }

    function getCode(id, title){
        event.stopImmediatePropagation();
        $.ajax({
            url: "{url 'site/entry/getCode' array('m'=>$_GPC['m'],'op'=>'getCode','version_id'=>$_GPC['version_id'])}&id="+ id + "&title="+ title,
            success:function(res){
                layer.open({
                    title: title
                    ,content: res
                });
            }
        })
    }

    function copyUrl(id){
        var Url= document.getElementById("copyUrl"+id);
        Url.select(); // 选择对象
        document.execCommand("Copy"); // 执行浏览器复制命令
        layer.msg('复制成功!', {time:1500, icon:1})
    }

    function changeSort(id, type){
        var sort = $('#changeSort'+id).val();
        var str = "&type="+type+"&id="+ id+"&sort="+sort;
        $.ajax({
            url:"{url 'site/entry/ChangeSort' array('m'=>$_GPC['m'],'op'=>'ChangeSort','version_id'=>$_GPC['version_id'])}",
            type: 'get',
            data: str,
            success: function (res) {
                res = $.parseJSON(res);
                if(res.code == 200){
                    layer.msg(res.errorMsg, {icon:1, time:1500});
                    getActiveInfo($('#hid').val());
                } else {
                    layer.msg(res.errorMsg, {icon:5, time:1500});
                }
            },
            error: function (data) {}
        });
    }

    function delInfo(type, id){
        layer.open({
            content: "确定删除该活动?",
            btn: ['确定', '取消'],
            yes: function(index){
                var str = "&type="+type+"&id="+ id;
                layer.load();
                $.ajax({
                    url:"{url 'site/entry/DelInfo' array('m'=>$_GPC['m'],'op'=>'DelInfo','version_id'=>$_GPC['version_id'])}",
                    data: str,
                    success: function (res) {
                        layer.closeAll('loading');
                        res = $.parseJSON(res);
                        if(res.code == 200){
                            layer.msg(res.errorMsg, {icon:1, time:1500});
                            getActiveInfo($('#hid').val());
                        } else {
                            layer.msg(res.errorMsg, {icon:5, time:1500});
                        }
                    },
                    error: function (data) {}
                });
                layer.close(index);
            },
            btn2: function (index) {
                layer.close(index);
            }
        });
    }
</script>
{template 'common/footer'}